@model TheSocialNetwork.DomainModel.Entities.Post

@{
    ViewBag.Title = "Details";
}

<h2>Review Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PublishDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Review)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
